html {
    width: 1336px;
    margin: auto;
}

#h1 {
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
}

    #logo_font {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
    }

    form {
        margin-left: 310px;
    }

    label {
        display: block;
        font-size: 14px;
    }

    input {
        display: block;
        margin: 15px 15px;
        padding: 10px 100px;
    }

    #submit_button {
        margin: 0px;
        margin-top: 10px;
        margin-left: 570px;
        padding: 10px 55px;
    }
